In [3]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('NvidiaStockPrice.csv')
df.head(20)

          Date      Open      High       Low     Close  Adj Close      Volume
0   22-01-1999  0.043750  0.048828  0.038802  0.041016   0.037621  2714688000
1   25-01-1999  0.044271  0.045833  0.041016  0.045313   0.041562   510480000
2   26-01-1999  0.045833  0.046745  0.041146  0.041797   0.038337   343200000
3   27-01-1999  0.041927  0.042969  0.039583  0.041667   0.038218   244368000
4   28-01-1999  0.041667  0.041927  0.041276  0.041536   0.038098   227520000
5   29-01-1999  0.041536  0.041667  0.039583  0.039583   0.036307   244032000
6   01-02-1999  0.039583  0.040625  0.039583  0.040365   0.037024   154704000
7   02-02-1999  0.039583  0.040625  0.036068  0.037240   0.034158   264096000
8   03-02-1999  0.036719  0.038542  0.036458  0.038021   0.034874    75120000
9   04-02-1999  0.038542  0.041146  0.038021  0.040104   0.036784   181920000
10  05-02-1999  0.040755  0.041667  0.039714  0.041276   0.037859   136848000
11  08-02-1999  0.041536  0.041667  0.039844  0.039844   0.036546   154080000
12  09-02-1999  0.040625  0.040885  0.037760  0.038281   0.035112    86976000
13  10-02-1999  0.038281  0.039323  0.037240  0.037891   0.034755   148224000
14  11-02-1999  0.038021  0.042708  0.038021  0.041146   0.037740   132240000
15  12-02-1999  0.041667  0.043750  0.041667  0.043490   0.039890   109728000
16  16-02-1999  0.044271  0.046094  0.039323  0.043750   0.040129   211008000
17  17-02-1999  0.042708  0.043229  0.040625  0.041406   0.037979    67728000
18  18-02-1999  0.042708  0.043229  0.040885  0.042057   0.038576    70704000
19  19-02-1999  0.041667  0.044271  0.041146  0.043490   0.039890    75360000

In [7]:
#Data Cleaning

for i in df.columns:
    if df[i].isnull().any():
        print("The dataframe contains null values")
    else:
        pass

The dataset that we are dealing with here does not contain any NULL values.

In [9]:
df['year'] = pd.to_datetime(df['Date'], format='%d-%m-%Y').dt.year

# Added a new coloumn here that takes only the year into consideration.

,Date,Open,High,Low,Close,Adj Close,Volume,year
0,22-01-1999,0.043750,0.048828,0.038802,0.041016,0.037621,2714688000,1999
1,25-01-1999,0.044271,0.045833,0.041016,0.045313,0.041562,510480000,1999
2,26-01-1999,0.045833,0.046745,0.041146,0.041797,0.038337,343200000,1999
3,27-01-1999,0.041927,0.042969,0.039583,0.041667,0.038218,244368000,1999
4,28-01-1999,0.041667,0.041927,0.041276,0.041536,0.038098,227520000,1999
5,29-01-1999,0.041536,0.041667,0.039583,0.039583,0.036307,244032000,1999
6,01-02-1999,0.039583,0.040625,0.039583,0.040365,0.037024,154704000,1999
7,02-02-1999,0.039583,0.040625,0.036068,0.037240,0.034158,264096000,1999
8,03-02-1999,0.036719,0.038542,0.036458,0.038021,0.034874,75120000,1999
9,04-02-1999,0.038542,0.041146,0.038021,0.040104,0.036784,181920000,1999
10,05-02-1999,0.040755,0.041667,0.039714,0.041276,0.037859,136848000,1999
11,08-02-1999,0.041536,0.041667,0.039844,0.039844,0.036546,154080000,1999
12,09-02-1999,0.040625,0.040885,0.037760,0.038281,0.035112,86976000,1999
13,10-02-1999,0.038281,0.039323,0.037240,0.037891,0.034755,148224000,1999
14,11-02-1999,0.038021,0.042708,0.038021,0.041146,0.037740,132240000,1999
15,12-02-1999,0.041667,0.043750,0.041667,0.043490,0.039890,109728000,1999
16,16-02-1999,0.044271,0.046094,0.039323,0.043750,0.040129,211008000,1999
17,17-02-1999,0.042708,0.043229,0.040625,0.041406,0.037979,67728000,1999
18,18-02-1999,0.042708,0.043229,0.040885,0.042057,0.038576,70704000,1999
19,19-02-1999,0.041667,0.044271,0.041146,0.043490,0.039890,75360000,1999